#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_NeedleCoind += debian/examples/*
DEB_INSTALL_MANPAGES_NeedleCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix NeedleCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f NeedleCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake NeedleCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/NeedleCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/NeedleCoind
binary-post-install/NeedleCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/NeedleCoin-qt
